/*Structure*/

.container{
    display: inline-block;
    width: 100%;
    padding: 80px 0;
}

    .container.hero{
        background-color: #3366ff;
        background-image: url(../img/coming-soon-istr.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding-bottom: 20px;
    }

    .container.content{
        background-color: #ffffff;
    }

    .container.footer {
        background-color: #3366ff;
        padding-top: 10px;    
}

    .container > .hero-row{
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px);
        text-align: center;
    }

    .container > .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc(50% - 500px);
       
    }

    .container > .row > .left{
        display: inline-block;
        width: 50%;
        
        float: left;

    }

    .container > .row > .right{
        display: inline-block;
        width: 40%;
        float: right;
    }

    .footer > .row {
        background-color: white;
    }

    .hero-row .form > input {
        width: 100%;
        background-color: transparent;
        color: white;
        border-bottom-color: white;
    }


    .hero-row .form > input::placeholder {
        color: white;
        
    }
    

    @media (max-width: 1000px){
        .container > .row {
            width: 800px;
            margin-left: calc(50% - 400px);
            
        }
    }

    @media (max-width: 900px) {
        .container > .row {
            width: 600px;
            margin-left: calc(50% - 300px);
            
        }
    }

    @media (max-width: 700px){

        .container > .row,
        .container > .hero-row {
            width: 600px;
            padding-right: 20px;
            padding-left: 0px;
        }

        .container > .row > .left{ 
            float: left;
            width: 100%;
            margin-bottom: 80px;
        }

        .container > .row > .right {
            float: right;
            width: 100%;
        }
    }

/*Hero*/

.hero-row > .logo {
    display: inline-block;
    margin-bottom: 40px;
    height: 40px;
}

.hero-row > h1 {
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 60px;
}

.hero-row > p {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #dddddd;
}

.hero-row > .clock {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

.hero-row > .form {
    display: inline-block;
    width: 90%;
    margin: 0 5% 10px;
}

.hero-row > .mouse {
    display: inline-block;  
}

/*main content*/
.content h2 {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
}

.content p {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
    color: #777777;
}

.content p > a{
    color:red;
    text-decoration: none;
}

.content .row{

    background-color: #ffffff;
}

.form > input {
    width: 100%;
}

